@media (max-width: 1260px) {
    .container {
        max-width: 960px;
    }
    .search-form {
        margin-left: 40px;
        margin-right: 40px;
    }
    .tabs-content {
        flex-wrap: wrap;
    }
    .tab-card {
        flex: 50%;
        max-width: calc(50% - 30px);
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .slide {
        padding: 60px;
    }
    .delivery-card {
        width: calc(50% - 30px);
    }
    .footer-logo {
        margin-right: 40px;
    }
    .advantages-card {
        max-width: calc(50% - 30px);
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }
    .header {
        flex-wrap: wrap;
    }
    .search-form {
        margin: 15px
    }
    .promo {
        flex-wrap: wrap;
    }  
}
@media (max-width: 576px) {
    .container {
        max-width: 90%;
    }
    .header {
        flex-wrap: wrap;
    }
    .search-form {
        order: 5;
    }
    .shopping-cart {
        margin-left: 5px;
    }
    .tab-card {
        max-width: 100%;
    }
    .slide {
        padding: 25px;
    }
}
@media (max-width: 445px) {
    .slider-buttons {
        display: none;
    }
    .delivery-card {
        width: 100%;
    }
    .tab-link {
        margin-right: 30px; 
    }
    .advantages-card {
        max-width: 100%;
    }
    .footer-wrapper {
        flex-wrap: wrap;
    }
}